@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');


canvas {
    border-radius: 8px;
    width: min(calc(100% - 20px), 900px);
    margin: 10px;
}

img {
    border: 1px solid black;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overscroll-behavior: none;
    overflow: hidden;
}

.container {
    padding: 0;
    margin: 0;
    height: calc(100vh - 360px);
    overflow: scroll;
}

header {
    position: sticky;
    top: 0;
    padding-top: 100px;
    background-color: black;
    padding: 50px 0px 10px 15px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    display: inline;
}

header button,
#pictureBtn {
    margin-top: 0px;
    margin-right: 8px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 18px;
    color: black;
    font-size: 16px;
    display: inline-block;
    align-content: center !important;
    text-align: center !important;
    padding: 0;
}

header button > i {
    position: relative;
    width: 36px;
    left: 0;
    top: 0;
    /* background-color: red; */
    margin-left: -1px;
}

#pictureBtn i {
    /* margin-top: 2px; */
    /* margin-left: 10px; */
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}


#exportBtn {
    margin-right: 16px;
}

.edits {
    padding-left: 10px;
    padding-right: 10px;
}

.edits label {
    font-size: small;
    margin-left: 5px;
    /* font-weight: bold; */
}

.edits input[type="text"] {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 6px;
    width: calc(100% - 8px);
    height: 32px;
    font-size: 16px;
    color: white;
    background-color: rgb(31, 31, 31);
    border: none;
}

.edits .item-menu button {
    font-size: 10px;
    margin-left: 3px;
    margin-bottom: 4px;
    margin-right: 2px;
    border-radius: 2px;
    border: none;
    background-color: rgb(31, 31, 31);
    color: white;
}

.item-menu {
    float: right;
}

.edits .item-menu {
    margin-bottom: 4px;
}

.edits input[type="checkbox"] {
    width: 14px;
    border: none;
    margin-right: 2px;
}

.add-btn {
    border: none;
    border-radius: 4px;
    width: calc(100% - 2px);
    height: 40px;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 16px;
}

.slot {
    margin-top: -20px;
    margin-bottom: 26px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}